In [65]:
from datetime import datetime
import pandas as pd
import numpy as np

In [66]:
now = datetime.now()

In [67]:
now

datetime.datetime(2019, 7, 20, 11, 5, 51, 798178)

In [68]:
 now.year , now.month ,  now.day

(2019, 7, 20)

In [69]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [70]:
delta

datetime.timedelta(926, 56700)

In [71]:
delta.days , delta.seconds

(926, 56700)

In [72]:
from datetime import timedelta

In [73]:
start = datetime(2011, 1, 7)

In [74]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [75]:
#important
from datetime import datetime , date , time ,timedelta , tzinfo

In [76]:
#Converting Between String and Datetime

In [77]:
stamp = datetime(2011,3,3)

In [78]:
stamp

datetime.datetime(2011, 3, 3, 0, 0)

In [79]:
now

datetime.datetime(2019, 7, 20, 11, 5, 51, 798178)

In [80]:
str(now)

'2019-07-20 11:05:51.798178'

In [81]:
now.strftime('%m-%Y-%d')

'07-2019-20'

In [82]:
value = '2011-03-22'

In [83]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 3, 22, 0, 0)

In [84]:
from dateutil.parser import parse
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [85]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [86]:
pd.to_datetime(datestrs + [None])

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [87]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
     datetime(2011, 1, 7), datetime(2011, 1, 8),
     datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [88]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -1.499312
2011-01-05   -1.042383
2011-01-07    0.428209
2011-01-08   -0.008999
2011-01-10    0.522482
2011-01-12    1.104803
dtype: float64

In [89]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [90]:
ts + ts[::2]

2011-01-02   -2.998624
2011-01-05         NaN
2011-01-07    0.856418
2011-01-08         NaN
2011-01-10    1.044965
2011-01-12         NaN
dtype: float64

In [91]:
ts[::2]

2011-01-02   -1.499312
2011-01-07    0.428209
2011-01-10    0.522482
dtype: float64

In [92]:
ts.index.dtype

dtype('<M8[ns]')

In [93]:
stamp = ts.index[2]
ts[stamp]

0.4282090928662216

In [94]:
ts['1/10/2011']

0.5224822965824905

In [95]:
longer_series = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [96]:
#time series with duplicate date value index
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
     '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5),index=dates)

In [97]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [98]:
print(dup_ts.index.is_unique)
grouped = dup_ts.groupby(level=0)
grouped.count()

False

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [99]:
ts

2011-01-02   -1.499312
2011-01-05   -1.042383
2011-01-07    0.428209
2011-01-08   -0.008999
2011-01-10    0.522482
2011-01-12    1.104803
dtype: float64

In [100]:
resampler = ts.resample('D')

In [101]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [102]:
index = pd.date_range('2012-04-01','2012-06-15')

In [103]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01', '2012-06-02', '2012-06-03',
               '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
               '2012-06-08', '2012-06-09', '2012-06-10', '2012-06-11',
               '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15'],
              dtype='datetime64[ns]', freq='D')

In [104]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [105]:
#frequencies and date offset

In [106]:
from pandas.tseries.offsets import Hour , Minute
hour = Hour()
hour

In [107]:
four_hours = Hour(4)
four_hours

In [108]:
pd.date_range('2012-01-01','2012-01-12',freq="12h30min")

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 12:30:00',
               '2012-01-02 01:00:00', '2012-01-02 13:30:00',
               '2012-01-03 02:00:00', '2012-01-03 14:30:00',
               '2012-01-04 03:00:00', '2012-01-04 15:30:00',
               '2012-01-05 04:00:00', '2012-01-05 16:30:00',
               '2012-01-06 05:00:00', '2012-01-06 17:30:00',
               '2012-01-07 06:00:00', '2012-01-07 18:30:00',
               '2012-01-08 07:00:00', '2012-01-08 19:30:00',
               '2012-01-09 08:00:00', '2012-01-09 20:30:00',
               '2012-01-10 09:00:00', '2012-01-10 21:30:00',
               '2012-01-11 10:00:00', '2012-01-11 22:30:00'],
              dtype='datetime64[ns]', freq='750T')

In [109]:
ts

2011-01-02   -1.499312
2011-01-05   -1.042383
2011-01-07    0.428209
2011-01-08   -0.008999
2011-01-10    0.522482
2011-01-12    1.104803
dtype: float64

In [110]:
ts / ts.shift(1)-1

2011-01-02          NaN
2011-01-05    -0.304759
2011-01-07    -1.410798
2011-01-08    -1.021015
2011-01-10   -59.061183
2011-01-12     1.114527
dtype: float64

In [111]:
#Time Zone Handling

In [112]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [113]:
tz=pytz.timezone('Asia/Kolkata')

In [114]:
rng = pd.date_range('3/9/2012 9:30',periods=5,freq='D',tz='UTC')

In [115]:
ts= pd.Series(np.random.randn(len(rng)),index=rng)

In [116]:
ts

2012-03-09 09:30:00+00:00   -0.782999
2012-03-10 09:30:00+00:00   -1.036878
2012-03-11 09:30:00+00:00   -1.984916
2012-03-12 09:30:00+00:00   -0.532695
2012-03-13 09:30:00+00:00   -0.759529
Freq: D, dtype: float64

In [117]:
print(ts.index.tz)

UTC

In [118]:
ts_utc = ts.tz_convert('America/New_York')
print(ts_utc)

2012-03-09 04:30:00-05:00   -0.782999
2012-03-10 04:30:00-05:00   -1.036878
2012-03-11 05:30:00-04:00   -1.984916
2012-03-12 05:30:00-04:00   -0.532695
2012-03-13 05:30:00-04:00   -0.759529
Freq: D, dtype: float64

In [119]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [120]:
stamp_utc = stamp.tz_localize('UTC')

In [121]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [122]:
stamp_utc.value

1299902400000000000

In [123]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [124]:
ts1 = ts[:7].tz_localize('Europe/London')

In [125]:
ts2 = ts1[:7].tz_convert('Europe/Moscow')

In [126]:
result = ts1 + ts2

In [127]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [128]:
#Period and Period and Arithmetic

In [129]:
p = pd.Period('2007',freq='A-DEC')

In [130]:
p

Period('2007', 'A-DEC')

In [135]:
l = p + 5 
x = p-2
l -x