In [26]:
from datetime import datetime
import pandas as pd
import numpy as np

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2019, 7, 17, 9, 52, 29, 377091)

In [5]:
 now.year , now.month ,  now.day

(2019, 7, 17)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [7]:
delta

datetime.timedelta(926, 56700)

In [8]:
delta.days , delta.seconds

(926, 56700)

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
#important
from datetime import datetime , date , time ,timedelta , tzinfo

In [13]:
#Converting Between String and Datetime

In [14]:
stamp = datetime(2011,3,3)

In [15]:
stamp

datetime.datetime(2011, 3, 3, 0, 0)

In [16]:
now

datetime.datetime(2019, 7, 17, 9, 52, 29, 377091)

In [17]:
str(now)

'2019-07-17 09:52:29.377091'

In [18]:
now.strftime('%m-%Y-%d')

'07-2019-17'

In [19]:
value = '2011-03-22'

In [20]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 3, 22, 0, 0)

In [21]:
from dateutil.parser import parse
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [22]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [23]:
pd.to_datetime(datestrs + [None])

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [24]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
     datetime(2011, 1, 7), datetime(2011, 1, 8),
     datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [28]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.041410
2011-01-05    0.603084
2011-01-07    0.977834
2011-01-08    0.481362
2011-01-10    0.377623
2011-01-12    1.349393
dtype: float64

In [29]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [30]:
ts + ts[::2]

2011-01-02    0.082820
2011-01-05         NaN
2011-01-07    1.955669
2011-01-08         NaN
2011-01-10    0.755247
2011-01-12         NaN
dtype: float64

In [31]:
ts[::2]

2011-01-02    0.041410
2011-01-07    0.977834
2011-01-10    0.377623
dtype: float64

In [33]:
ts.index.dtype

dtype('<M8[ns]')

In [36]:
stamp = ts.index[2]
ts[stamp]

0.9778342695525942

In [37]:
ts['1/10/2011']

0.3776232782867272

In [39]:
longer_series = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [40]:
#time series with duplicate date value index
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
     '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5),index=dates)

In [41]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [43]:
print(dup_ts.index.is_unique)

False